* {
    box-sizing: border-box;
}

.h1{
    color:white;
    background-color: pink;
    
    
    }

.html{
    background-color:grey;
}

.p1{
    color:yellow;
}

.p2{
    color:greenyellow;
}

.p3{
    color:skyblue;
    

}

.border1{
    background-color:white;
    border:3px solid orange;
    padding-bottom:50px
}

.ptag{
    color:white;
    
}

.footer{
    color:white;
}